/* General Styles */
html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden; 
}

body {
  overflow-y: auto; 
}
/* Header */
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}




.container {
  overflow: auto; 
}

