body {
  background-color: #f8f9fa;
}
.sidebar {
  height: 100vh;
  width: 250px;
  background-color: #343a40;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  padding-top: 20px;
}
.sidebar .nav-link {
  color: #ced4da;
}
.sidebar .nav-link:hover {
  color: white;
  background-color: #495057;
}
.sidebar .nav-link.active {
  color: white;
  background-color: #495057;
}
.content {
  margin-left: 250px;
  padding: 20px;
}
.card {
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
}
.card-icon {
  font-size: 3rem;
  color: rgb(155, 145, 145);
}
body {
  background-color: #f8f9fa;
}
.profile-card {
  margin: 50px auto;
  max-width: 600px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
}
.profile-header {
  text-align: center;
  margin-bottom: 30px;
}
.profile-header h2 {
  font-weight: 600;
}
.form-control,
.form-select {
  border-radius: 30px;
}
.form-control[readonly],
.form-select[disabled] {
  background-color: #e9ecef;
  color: black;
  cursor: not-allowed;
}
.form-check-input[disabled] {
  background-color: #e9ecef;
  cursor: not-allowed;
}
